body{
	overflow-x: hidden;
}

input[type='radio']:after {
	width: 15px;
	height: 15px;
	border-radius: 15px;
	top: -3px;
	left: -1px;
	position: relative;
	content: '';
	display: inline-block;
	visibility: visible;
}
input[type='radio']:checked:after {
	border: 2px solid white;
}

a.perfil{
	text-decoration: none!important;
	display: block;
	height: 100%;
	color: rgb(255, 255, 255);
	transition: 0.1s;
}
a.perfil:hover{
	color: rgb(255, 255, 255);
	opacity: 0.8;
}
.caixa-perfil-foto{
	height: 400px;
	background-image: linear-gradient(-45deg,rgba(0,0,0,0.2),rgba(0,0,0,0.6)), var(--perfil-foto);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.transition-fade{
	opacity: 1;
	transition: 200ms;
	/*transform: translateX(0);
	transform-origin: left;*/
}
html.is-animating .transition-fade{
	opacity: 0;
}
html.is-leaving .transition-fade{
	opacity: 0;
}
/*html.is-rendering .transition-fade{
	transform: translateX(-100%);
}*/


.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus{
    outline: none !important;
    box-shadow: none !important;
	border: none !important;
}
.navbar-toggler:hover{
	opacity: 0.8;
}
button.close{
	outline: none !important;
}
.navbar-dark .navbar-nav .nav-link{
	color: #fff !important;
}
.navbar-dark:hover .navbar-nav:hover .nav-link:hover{
	opacity: 0.8 !important;
}

.bi{
	width: 1.5em;
	height: 1.5em;
	margin: 0 0.2em;
}