.vjs-theme-fantasy {
  --vjs-theme-drena--primary: rgb(108, 79, 255);
  --vjs-theme-drena--secondary: #fff;
	font-family: "SourceSansPro","sans-serif" !important;
}

@font-face{
	font-family: "bootstrap-icons";
	src: url("/fontes/bootstrap-icons.woff");
}
@font-face{
	font-family: "SourceSansPro";
	src: url("/fontes/SourceSansPro.ttf");
}

.vjs-theme-fantasy .vjs-big-play-button {
  width: 70px;
  height: 70px;
  background: none;
  line-height: 70px;
  font-size: 80px;
  border: none;
  top: 50%;
  left: 50%;
  margin-top: -35px;
  margin-left: -35px;
  color: var(--vjs-theme-drena--primary);
}

.vjs-theme-fantasy:hover .vjs-big-play-button,
.vjs-theme-fantasy.vjs-big-play-button:focus {
  background-color: transparent;
  color: #fff;
}

.vjs-theme-fantasy .vjs-control-bar {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5) 40%, rgba(0,0,0,0) 100%);
  background-color: transparent;
  height: 54px;
}

.vjs-theme-fantasy .vjs-button > .vjs-icon-placeholder::before {
  line-height: 54px;
  position: relative;
  top: 0px;
}

.vjs-theme-fantasy .vjs-time-control {
  line-height: 54px;
}

/*.vjs-icon-circle:before, .vjs-seek-to-live-control .vjs-icon-placeholder:before, .video-js .vjs-play-progress:before */
.vjs-theme-fantasy .vjs-volume-level:before {
  font-size: 11px;
}

/* Play Button */
.vjs-theme-fantasy .vjs-play-control {
  font-size: 1.5em;
  position: relative;
}

.vjs-theme-fantasy .vjs-volume-panel {
  order: 4;
}

.vjs-theme-fantasy .vjs-volume-bar {
  margin-top: 2.5em;
  height: 0.5em;
}

.vjs-slider-horizontal .vjs-volume-level {
  height: 0.5em;
  background: rgba(255, 255, 255, 0.8);
}

.vjs-theme-city .vjs-volume-panel:hover .vjs-volume-control.vjs-volume-horizontal {
  height: 100%;
}

.vjs-theme-fantasy .vjs-progress-control .vjs-progress-holder {
  font-size: 1.5em;
}

.vjs-theme-fantasy .vjs-progress-control:hover .vjs-progress-holder {
  font-size: 1.5em;
}

.vjs-theme-fantasy .vjs-play-control .vjs-icon-placeholder::before {
  height: 1.3em;
  width: 1.3em;
  margin-top: 0.2em;
  border-radius: 1em;
  /*border: 5px solid var(--vjs-theme-drena--secondary);*/
  border: 4px solid transparent;
  top: 0px;
  line-height: 1;
  font-size: 2em;
  font-family: "bootstrap-icons";
}

.vjs-theme-fantasy .vjs-play-control:hover .vjs-icon-placeholder::before {
  /*border: 5px solid var(--vjs-theme-drena--secondary);*/
  border: 4px solid transparent;
}

.vjs-theme-fantasy .vjs-play-progress {
  background-color: var(--vjs-theme-drena--primary);
}

.vjs-theme-fantasy .vjs-play-progress::before {
  /*content: "bolinha";*/
  content: "";
  height: 0.8em;
  width: 0.8em;
  background-color: var(--vjs-theme-drena--secondary);
  border: 0px solid var(--vjs-theme-drena--secondary);
  border-radius: 0.8em;
  top: -0.25em;
}

.vjs-theme-fantasy .vjs-progress-control {
  font-size: 14px;
}

.vjs-theme-fantasy .vjs-fullscreen-control {
  order: 8;
}

.vjs-theme-fantasy .vjs-remaining-time {
  display: none;
}

.vjs-theme-fantasy .vjs-slider{
  background-color: rgba(255, 255, 255, 0.4);
}

.vjs-theme-fantasy .vjs-load-progress{
  background: transparent;
}

.vjs-theme-fantasy .vjs-load-progress div {
  background: rgba(255, 255, 255, 0.8);
}

.vjs-theme-fantasy .vjs-big-play-button .vjs-icon-placeholder:before {
  font-family: "bootstrap-icons";
  content: "\f4f5";
  color: #fff;
  -webkit-filter: drop-shadow(0px 0px 4px rgba(0,0,0,0.8));
  filter: drop-shadow(0px 0px 4px rgba(0,0,0,0.8));
  opacity: 0.6;
  transition: 0.2s;
}

.vjs-icon-pause:before, .vjs-theme-fantasy .vjs-play-control.vjs-playing .vjs-icon-placeholder:before {
  content: "\f4c4";
}

.vjs-icon-play:before, .vjs-theme-fantasy .vjs-play-control .vjs-icon-placeholder:before {
  content: "\f4f5";
}

.vjs-icon-replay:before, .video-js .vjs-play-control.vjs-ended .vjs-icon-placeholder:before {
  content: "\f4f5";
}

.vjs-theme-fantasy:hover .vjs-big-play-button .vjs-icon-placeholder:before {
  opacity: 1;
}

.vjs-icon-picture-in-picture-enter:before, .vjs-theme-fantasy .vjs-picture-in-picture-control .vjs-icon-placeholder:before {
  font-family: "bootstrap-icons";
  content: "\f4ef";
}

.vjs-icon-picture-in-picture-exit:before, .vjs-theme-fantasy.vjs-picture-in-picture .vjs-picture-in-picture-control .vjs-icon-placeholder:before {
  font-family: "bootstrap-icons";
  content: "\f4ee";
}

.vjs-icon-volume-mute:before, .vjs-theme-fantasy .vjs-mute-control.vjs-vol-0 .vjs-icon-placeholder:before {
  font-family: "bootstrap-icons";
  content: "\f60d";
}

.vjs-icon-volume-low:before, .vjs-theme-fantasy .vjs-mute-control.vjs-vol-1 .vjs-icon-placeholder:before {
  font-family: "bootstrap-icons";
  content: "\f60f";
}

.vjs-icon-volume-low:before, .vjs-theme-fantasy .vjs-mute-control.vjs-vol-2 .vjs-icon-placeholder:before {
  font-family: "bootstrap-icons";
  content: "\f60b";
}

.vjs-icon-volume-low:before, .vjs-theme-fantasy .vjs-mute-control.vjs-vol-3 .vjs-icon-placeholder:before {
  font-family: "bootstrap-icons";
  content: "\f611";
}

.vjs-icon-fullscreen-enter:before, .video-js .vjs-fullscreen-control .vjs-icon-placeholder:before {
  font-family: "bootstrap-icons";
  content: "\f3df";
}

.vjs-icon-fullscreen-exit:before, .video-js.vjs-fullscreen .vjs-fullscreen-control .vjs-icon-placeholder:before {
  font-family: "bootstrap-icons";
  content: "\f3de";
}

.vjs-quality-selector .vjs-icon-placeholder:before {
  font-family: "bootstrap-icons";
  content: "\f3e5";
}

.video-js .vjs-control:focus:before,
.video-js .vjs-control:hover:before,
.video-js .vjs-control:focus,
.video-js .vjs-slider:focus {
  text-shadow: none;
  box-shadow: none;
}